/* NOTE structure of css: 
CSS RULE
selector { --> declaration block
  property: value --> declaration / style
} */

/* NOTE colors: In practice we mostly use hexadecimal colors, and rgba when we need transparency */

/* NOTE universal selector. lowest priority. does not have any inhertance*/
* {
  margin: 0; /* NOTE Global reset */
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: #1098ad solid 10px;
  position: relative;
}

.container {
  width: 800px;

  /* NOTE margin-right and left auto is a trick for centering the container on the page */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: lightgray;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px; /* NOTE Common to use mostly margin space at the bottom to create vertical space */
  /* height: 80px; */
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

/* Don't need this block b/c of the body css block */
/* 
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px; /* NOTE collapsing margins with the p element directly above the h3 element has a margin bottom of 15px.  css does not add up two margins that take up the same space.  instead it defaults to the margin that is the larger of the two */
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* NOTE descendent selector. problem is we're building the html structure into the css and if there are changes to the html or if there are similar strutures in multiple places in the html, we could be applying css to elements that we don't want to
footer p {
  font-size: 16px;
} 
*/

/* NOTE nested descendent selector. same issue here where we're building the html structure into the css 
article header p {
  font-style: italic;
}
*/

/* NOTE id selector. we can only use id selector once in the css */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* NOTE class selector. if we need to use id selectors multiple time, the class selector will need to be used */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

/* NOTE in the real world, we never use id's, we use classes.  This because classes allow us to be prepared for any future changes to the html. As a result, using id's could lead to bugs if we make changes later in development if we forget about making corresponding changes to the id's */
.related {
  list-style: none;
}

aside {
  background-color: lightgray;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

/* body {
  background-color: blue;
} */

/* NOTE this is a class approach to target first li elements in a lists in the html, but there is a better way by using psuedo selectors
.first-li {
  font-weight: bold;
}
*/

/* NOTE pseudo elements are elements that do not exist in html but that we can still select and style in CSS */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* 
li:nth-child(2) {
  color: red;
}

li:nth-child(odd) {
  color: red;
} */

/* 
NOTE there is a common misconception that this selector should select the first p elemtn in the article element.  however, the way this selector actually works is that it will select the first direct child of the article element if it is a p element
article p:first-child {
  color: red;
} */

/* Styling links */
/* NOTE simply selecting all the a elements and styling is not best practice. istead we can use pseudo classes because then it will allow us to select different states */

/* NOTE mnemonic LVHA */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* NOTE Resolving conflicts */
/* 
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} 
*/

.post-image {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  margin: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* NOTE adjacent element selector */
/* h3 + p::first-line {
  color: red;
} */

h2 {
  /* background-color: orange; */
  position: relative;
}

/* 
NOTE pseudo element example 
NOTE what are example applications for these types of pseudo elements
*/
h2::after {
  content: "TOP";
  background-color: yellow;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}
