/* 

--- 01 TYPOGRAPHY SYSTEM

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT WEIGHTS:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

LINE HEIGHTS
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

-LETTING SPACING
-0.5px
0.75px

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 COLORS

- Primary: #e67e22
- Tints: #fdf2e9, #fae5d3, #eb984d
- Shades: 
#cf711f
#45260a
- Accents:
- Grays: 
#767676 lightest gray allowed on #fff
#6f6f6f lightest gray allowed on #fdf2e9
#555, 
#333


--- 03 IMAGES
--- 04 ICONS

--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIUS

- Default: 9px
- Medium: 11px

--- 07 WHITESPACE


NOTE max-width element: if the container width is larger than the specified max width, then the container width is equal the value that was specified for max width.  However, if the container width is less than the specified max width then the width of the element will be 100% of the container element width

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Percentage of user's browser font-size setting */
  /* font-size: 62.5%; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* Smooth scroll does not work on safari and microsoft edge */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positined in relation to body */
  overflow-x: hidden;
}

/************************************/
/* GENERAL REUSABLE COMPONENTS */
/************************************/

.container {
  /* NOTE Convention: 1140px. Below gets at 1136px b/c of box model   */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary {
  font-weight: 600;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* NOTE allows adding simple animations simply using css only. always put transition on the original state*/
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */
  /* NOTE trick to add boarder to inside of element so the layout doesn't shift */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;

  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.6rem;
}

.list-icon {
  width: 30px;
  height: 30px;
  color: #e67e22;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgb(230, 126, 34, 0.5);
}

/* HELPER CLASSES */

/* NOTE Helper class. Related to margins or other properties that we want to use in multiple places, but don't want to add to specific elements because it could create conflicts that we don't want */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}
strong {
  font-weight: 500;
}
