/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
/* NOTE: For 90%+ of the cases you likely want the <link> tag. As a rule of thumb, you want to avoid @import rules because they defer the loading of the included resource until the file is fetched.. and if you have a build process which "flattens" the @import's, then you create another problem with web fonts: dynamic providers like Google WebFonts serve platform-specific versions of the fonts, so if you simply inline the content, then you'll end up with broken fonts on some platforms. */

/*  */

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  background: #222222;
}

.container {
  display: block; /* NOTE In a block formatting context, boxes are laid out one after the other, vertically, beginning at the top of a containing block. The vertical distance between two sibling boxes is determined by the 'margin' properties.  */
  position: relative;
  margin: 40px auto;
}